---
layout: 3col
---
<div class="line1">
	<div class="container line2">
		<div class="col-1 col-pad">
			{% capture column1 %}{% include home-column-1.md %}{% endcapture %}
			{{ column1 | markdownify }}
			<a href="about" class="link">read more about us</a>
		</div>
		<div class="col-2 col-pad">
			<h2>latest news</h2>
			<ul>
				{% for post in site.posts %}
					{% if post.categories contains 'news' %}
						<li><a href="{{ post.link }}">{{ post.title }}</a>
						<p>{{ post.date | date: '%Y-%m-%d' }} {{ post.time }}</p>
						{{ post.content }}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="col-3">
			<h2>services and solutions</h2>
			<ul>
				<li><a href="products/glasir">Glasir Productivity Platform</a></li>
				<li><a href="solutions">Hosted Development</a></li>
				<li><a href="solutions/atg-experts#atg-continuous-delivery">Continuous Delivery</a></li>
				<li><a href="solutions">ATG Expertise</a></li>
				<li><a href="solutions">Business Consulting</a></li>
				<li><a href="solutions">Project Management</a></li>
				<li><a href="solutions">Architecture Consulting</a></li>
				<li><a href="solutions">Web Design</a></li>
				<li><a href="solutions">Usability Consulting</a></li>
			</ul>
			<a href="solutions" class="link">MORE services and solutions</a>

		</div>
	</div>
</div>
