#main { width:980px; margin:0 auto; text-align:left;}

#header {height:453px; background:url(../images/header-bottom-tail.gif) bottom repeat-x;}

#content {padding:23px 25px 42px 20px; background:url(../images/content-bg.gif) top repeat-x #222930;}

#footer { height:30px; padding:13px 0 0 10px;}

.col-1, .col-2, .col-3 {float:left;}
.container {width:100%; overflow:hidden;}

/* ============================= page-home ===========================*/

.line1 {background:url(../images/line.gif) repeat-y 307px 0; width:100%;}
.line2 {background:url(../images/line.gif) repeat-y 631px 0; width:100%;}
.line3 {background:url(../images/line.gif) repeat-y 468px 0; width:100%;}

#page-home .block {background:url(../images/header-home.jpg) top left no-repeat;}

#page-home .col-1 {width:287px;}
#page-home .col-2 {width:287px;}
#page-home .col-3 {width:287px;}

/* ============================= page-about ===========================*/

#page-about .block {background:url(../images/header-about.jpg) top left no-repeat;}

#page-about .col-1 {width:611px;}
#page-about .col-2 {width:287px;}

/* ============================= page-products ===========================*/

#page-products .block {background:url(../images/solution-way.jpg) top left no-repeat;}

#page-products .col-1 {width:287px;}
#page-products .col-2 {width:611px;}
#page-products .col-middle {width:287px;}
#page-products .col-3 {width:287px;}

/* ============================= page-about ===========================*/

#page-glasir .block {background:url(../images/header-about.jpg) top left no-repeat;}

#page-glasir .col-1 {width:458px;}
#page-glasir .col-2 {width:440px;}

/* ============================= page-solutions ===========================*/

#page-solutions .block {background:url(../images/solution-way.jpg) top left no-repeat;}

#page-solutions .col-1 {width:287px;}
#page-solutions .col-2 {width:287px;}
#page-solutions .col-3 {width:287px;}

/* ============================= page-careers ===========================*/

#page-careers .block {background:url(../images/header-jump.jpg) top left no-repeat;}

#page-careers .col-1 {width:287px;}
#page-careers .col-2 {width:611px;}

/* ============================= page5 ===========================*/

#page-contact .block {background:url(../images/header-contact.jpg) top left no-repeat;}

#page-contact .col-1 {width:611px;}
#page-contact .col-2 {width:287px;}

#page-contact .col-1 .col-1 {width:285px;}
#page-contact .col-1 .col-2 {width:285px;}

/* ============================= page6 ===========================*/

#page6 .block {background:url(../images/header-img1.jpg) top left no-repeat;}

#page6 .col-1 {width:287px;}
#page6 .col-2 {width:287px;}
#page6 .col-3 {width:287px;}

/* ============================= page7 ===========================*/

#page7 .block {background:url(../images/header-img2.jpg) top left no-repeat;}

#page7 .col-1 {width:611px;}
#page7 .col-2 {width:287px;}