<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Iteego&#0153; | Oracle Commerce Experts (ATG) | Consulting and Software Development Services</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Oracle ATG and E-Commerce experts, Consulting and software development"/>
	<meta name="keywords" content="oracle,commerce,atg,software,development,expert,consultant,consulting,solution,java,j2ee,e-commerce,ecommerce"/>
	<link href="/common/style.css" rel="stylesheet" type="text/css" />
	<link href="/common/layout.css" rel="stylesheet" type="text/css" />
</head>
<body id="page-home">
	<div id="main">
		<!--header -->
		<div id="header">
			<div class="row1">
			</div>
			<div class="block">
				<div class="slogan-white">
					<p>
					  <b>{% if page.tag_header %} {{ page.tag_header }} | {% endif %}</b>
					</p>
					<p>
					  - unparalleled performance
					</p>
					<p>
					  - unparalleled results
					</p>
				</div>
				<a href=""><img alt="" src="/images/logo.jpg" class="logo" /></a><br />
				<div class="menu">
					<ul>
					  {% if page.url == "/index.html" %}
						  <li class="active"><a href="/">HOME</a></li>
						{% else %}
						  <li><a href="/">HOME</a></li>
						{% endif %}
					  {% if page.url == "/about/index.html" %}
  						<li class="active"><a href="/about">about</a></li>
						{% else %}
  						<li><a href="/about">about</a></li>
						{% endif %}
					  {% if page.url == "/products/index.html" %}
						  <li class="active"><a href="/products">products</a></li>
						{% else %}
						  <li><a href="/products">products</a></li>
						{% endif %}
					  {% if page.url == "/solutions/index.html" %}
					  	<li class="active"><a href="/solutions">solutions</a></li>
						{% else %}
				  		<li><a href="/solutions">solutions</a></li>
						{% endif %}
					  {% if page.url == "/careers/index.html" %}
			  			<li class="active"><a href="/careers">careers</a></li>
						{% else %}
		  				<li><a href="/careers">careers</a></li>
						{% endif %}
					  {% if page.url == "/contact/index.html" %}
	  					<li class="last-active"><a href="/contact">contact</a></li>
						{% else %}
  						<li class="last"><a href="/contact">contact</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<!--header end-->
		<div id="content">
		  {{ content }}
		</div>
		<!--footer begin-->
		<div id="footer">
			COPYRIGHT &copy; 2009-2012 ITEEGO. ALL RIGHTS RESERVED.
			 | <a href="legal/terms-of-use">TERMS OF USE</a>
			 | <a href="legal/privacy-policy">PRIVACY POLICY</a>
		</div>
		<!--footer end-->
	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8599511-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
